.dialog_container {
  width: 327px;
  height: 600px;
  padding: 32px;
}

.order_title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.857px;
  text-transform: uppercase;
}

.order_text {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
}

.order_card {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.order_card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
