.display_container {
  width: 375px;
  margin: 65px auto 120px auto;
  padding: 0 24px;
}

.display_container * {
  color: black;
}

.header_image {
  width: 327px;
  height: 327px;
  border-radius: 8px;
  margin-bottom: 32px;
}

.new_product_tag {
  color: #d87d4a;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 0px 0 24px 0;
}

.product_description {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
  margin-bottom: 24px;
}

.product_price {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.286px;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.quantity_container {
  width: 120px;
  height: 48px;
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  background: #f1f1f1;
  margin-bottom: 88px;
}

.product_title {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.quantity_container button {
  background: none;
  border: none;
  font-size: 15px;
  opacity: 0.25;
  padding: 0.5rem;
  cursor: pointer;
}

.quantity_line {
  display: flex;
  column-gap: 16px;
}

.features_text {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
  margin-bottom: 88px;
}

.container_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.857px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 88px;
}

.box_list span {
  color: #d87d4a;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  margin-right: 21px;
}

.box_list p {
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.add_to_cart_btn {
  background: #d87d4a;
  width: 160px;
  height: 48px;
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.gallery_container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.first_image,
.second_image {
  width: 327px;
  height: 174px;
  border-radius: 8px;
}

.third_image {
  width: 327px;
  height: 368px;
  border-radius: 8px;
  object-fit: cover;
}

/* ! -- also like container */

.also_like_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.also_like_container {
  width: 327px;
  height: 983px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 56px;
}

.also_like_img {
  width: 327px;
  margin-bottom: 32px;
  border-radius: 8px;
}

.also_like_btn {
  width: 160px;
  height: 48px;
  background: #d87d4a;
  color: white;
  border: none;
}

@media (min-width: 768px) {
  .display_container {
    width: 768px;
    /* height: 480px; */
    padding: 0 39px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
  }

  .header_image {
    width: 281px;
    height: 480px;
    margin: 0;
  }

  .details_container {
    width: 340px;
    height: 390px;
  }

  .product_title {
    margin-bottom: 32px;
  }

  .new_product_tag {
    margin: 0 0 17px 0;
  }

  .product_description {
    margin-bottom: 32px;
  }

  .product_price {
    margin-bottom: 31px;
  }

  .features_text {
    margin-bottom: 120px;
  }

  /* In the box  */
  .in_the_box_container {
    display: flex;
    column-gap: 163px;
    /* margin-bottom: 120px; */
  }

  .gallery_container {
    width: 690px;
    height: 368px;
    position: relative;
  }

  .first_image,
  .second_image {
    width: 277px;
  }

  .third_image {
    width: 395px;
    position: absolute;
    right: 0;
  }

  /* Also_like_container */

  .also_like_container {
    width: 691px;
    height: 471px;
    column-gap: 11px;
    flex-direction: row;
  }

  .also_like_img {
    width: 223px;
    height: 318px;
  }
}

@media (min-width: 1440px) {
  .display_container {
    width: 1440px;
    padding: 0 165px;
  }

  .header {
    justify-content: center;
    column-gap: 125px;
  }

  .header_image {
    width: 540px;
    height: 560px;
  }

  .details_container {
    width: 445px;
    height: 390px;
  }

  .product_title {
    padding-right: 100px;
  }

  /* features and in the box */
  .features_container {
    width: 635px;
  }

  .in_the_box_container {
    flex-direction: column;
  }

  .features_in_the_box_wrapper {
    display: flex;
    column-gap: 125px;
  }

  /* Gallery */

  .gallery_container {
    width: 1110px;
    height: 592px;
    row-gap: 32px;
  }

  .first_image,
  .second_image {
    width: 445px;
    height: 288px;
  }

  .third_image {
    width: 635px;
    height: 592px;
  }

  /* Also like container */

  .also_like_container {
    margin-bottom: 320px;
    column-gap: 30px;
  }

  .also_like_card {
    margin-top: 160px;
    width: 1110px;
    height: 571px;
  }

  .also_like_img {
    width: 350px;
    height: 318px;
  }
}
